body{
    margin: 0px;
    font-family: sans-serif;
}

*{
     box-sizing: border-box;
} 

h1 {
    display: flex;
    background: url(../img/Apple_Store_logo.svg.png) no-repeat;
    text-indent: -9999px;
    height: 36px;
    width: 36px;
}

h2{
    text-align: center;
}

nav{
    background-color: black;
}

nav li{
    display: inline;
    padding-right: 48px;
}

nav ul a{
    text-decoration: none;
    color: white;
}

nav ul a:hover{
    color: grey;
}

.container{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: row;
}

.hero{
    background-color: white;
}
.image-iphone-x{
    display: flex;
    background :url("../img/ar_small.jpg") no-repeat;    
    background-size: cover;
    height: 1662px;
}

.hero h2,h3{
    display: flex;
    
}

.buy{
    position: relative;
        left: 400px;
}

header{
        background-color: #8491A3;
        display: flex;
        padding-left: 22px;
}

aside{
    padding-right: 5px;
    padding-left: 5px;
    width: 25%;
    background-color: #EDEBA0;
}

aside img{
   display: flex;
}

main{    
    width: 60%;
    background-color: #8491A3;   
    padding-left: 10px;
    padding-right: 10px;
}

main img{
    width: 153px;
    height: 304px;
    position: relative;
    left: 128px;
}

section{    
    background-color: #EDEBA0;  
    padding-left: 5px;
    padding-right: 5px;
}

.two-column {
    display: flex;
    flex-direction: row;
}

.one{
    background-color: brown;
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    }

.two{
    display: flex;
    flex-direction: column;
    height: 75vh;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    }

.first-row{
    background-color:aqua;
    width: 100%;
    height: 50vh;
    padding-left: 5px;
}

.first-row img{
    width: 285px;
    height: 100px;
    position: relative;
    right: 65px;
    bottom: 7px;
}

.second-row{    
    background-color:antiquewhite;
    width: 100%;
    height: 50vh;
    padding-left: 5px;
}

.third-row{    
    background-color: aquamarine;
    width: 100%;
    height: 50vh;
    padding-left: 5px;
}

.one img{    
    margin-right: 30px;
}

.preview{    
    height: 47vh;
}

footer{
    display: flex;
    background-color: black;
}

.copyright{
    color: white;
    padding: 50px;
}
.footernav li{
    display: inline;
}

.fa{
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa-twitter{    
     color: white;
}

.fa-google {         
    color: white;
}

.fa-linkedin {             
    color: white;
}

.fa-youtube {                 
    color: white;
}

header,nav,aside,main,section,footer,.two-column,.one,.two, .first-row, .second-row, .third-row{
    border : 2px grey solid;
  }

@media(max-width: 600px){
    .content{
    flex-direction: column;
    }
    aside{
    width: 100%;
    }
    section{
    width: 100%;
    }
    main{
    width: 100%;
    }
    .hero{
        width: 100%;
    }

    .two-column{
        flex-direction: column;
    }

    .one{
        width: 100%;
    }

    .two{
        width: 100%;
    }
   .two-column aside{
       width: 100%;
   }
}

@media(max-width: 320px){
    .content{
        flex-direction: column;
    }
   header{
       width:300%;
   }
   nav{
       width:300%;
   }
   .image-iphone-x{
       width: 300%;
       height: 1100px;
   }

   aside{
    width: 300%;
    }

   aside img{
       width: 20%;
   }

   main{
       width: 300%
   }

   section{
       width: 300%;
   }

   .two-column{
       flex-direction: column;
   }

   .one{
       width:300%;
   }

   .two{
       width:300%;
   }
   footer{
       width: 300%;
   }
}