body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

*{
     box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: column;
    background-color: black;
}

nav ul a{
    text-decoration: none;
    color: white;
}

nav ul a:hover{
    color: grey;
}

.container{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: row;
}

.hero{
    background-color: white;
    display: flex;
    flex-direction: column;
}
.image-iphone-x{
    background :url("../img/ar_small.jpg") no-repeat center center; 
    background-size: cover;
    height: 786px;
    padding-top: 1px;
}

.headline,.subhead,.buy{
    display: inline-block;   
}

.buy{
    position: relative;
        left: 400px;
}

.logo{
    background: url(../img/Apple_Store_logo.svg.png) no-repeat;
    height: 36px;
}

aside{
    padding-right: 5px;
    padding-left: 5px;
    background-color: #EDEBA0;
    display: flex;
    flex-direction: row-reverse;
}


aside .desc{
    display: flex;
    flex-direction: column;
}

main{
    background-color: #8491A3;   
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
}

section{    
    background-color: #EDEBA0;  
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: row-reverse;
}

section .desc{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.two-column {
    display: flex;
    flex-direction: row;
}

.one{
    background-color: brown;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    }

.one a{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.two{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    }

.first-row{
    background-color:aqua;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

.first-row img{
    width: 285px;
    height: 100px;
    margin: auto;
}

.second-row{    
    background-color:antiquewhite;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

.third-row{    
    background-color: aquamarine;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    background-color: black;
}

.copyright{
    color: white;
    padding: 50px;
}

.fa{
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
    margin: 5px 5px;
    border-radius: 50%;
}

.fa-twitter{    
     color: white;
}

.fa-google {         
    color: white;
}

.fa-linkedin {             
    color: white;
}

.fa-youtube {                 
    color: white;
}

header,nav,aside,main,section,footer,.two-column,.one,.two, .first-row, .second-row, .third-row{
    border : 3px grey solid;
  }

@media(max-width: 600px){
    .content{
    flex-direction: column;
    }
    aside{
    width: 100%;
    }
    section{
    width: 100%;
    }
    main{
    width: 100%;
    }
    .hero{
        width: 100%;
    }

    .two-column{
        flex-direction: column;
    }

    .one{
        width: 100%;
    }
    
    .two{
        width: 100%;
    }
   .two-column aside{
       width: 100%;
   }
}

@media(max-width: 320px){
    .content{
        flex-direction: column;
    }

   .two-column{
       flex-direction: column;
   }
aside{
   flex-direction: column;
}
section{
    flex-direction: column-reverse;
}
}